@import 'bootstrap/scss/functions';
@import './variables';
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Noto Serif TC';
    src: url('https://fonts.gstatic.com/s/notoseriftc/v7/XLYkIZL7aopTCDYknAqTMWjo7Ljw8w.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Serif TC', serif; /* 使用自定义字体 */
}